$background-color: #313338;
$input-color: #383a40;
$scroll-color: #5c5e65;
$message-color: #272727;
$button-color: #3a3a3a;
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,
body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
}
input {
    background-color: $input-color;
    color: white;
}
textarea {
    background-color: $input-color;
    opacity: 0.8;
    backdrop-filter: blur(5px);
}
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: $scroll-color;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: $scroll-color;
}
